# temperature & battery usage reduction
on boot
    write /sys/devices/qcom,cpubw.42/devfreq/qcom,cpubw.42/governor powersave
    write /sys/devices/platform/gpusysfs/gpu_governor powersave
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive

# encryption support
service qseecomd /sbin/qseecomd

service logd /system/bin/logd
    disabled
    class core
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    seclabel u:r:logd:s0
    group root system
